.get-started-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1300px;
    width: 100vw;
    
    .image-get-started{
        height: 2000px;
        align-items: center;
        position: relative;
        img{
            width: 1890px;
            height: 1304px;
            
        }
    }
    .get-started-box{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
 
        .get-started-heading{
            display: flex;
            flex-direction: column;
            width: 45%;
            align-items: center;
            .get-started-heading-top{
                p{
                    font-size: 2.5rem;
                    color: white;
                }
                
            }
            
        }
        
        .get-started-bottom-section-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: 100px;
            .get-started-bottom-section{
                background-image: linear-gradient(to bottom, rgba(8, 92, 189, 0.5), rgba(70, 64, 178, 0.55));

                width: 90%;
                height: 100vh;
                padding-right: 50px;
                
                .get-started-bottom-section-box{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: center;
                    align-items: center;


                    .left-side{
                        display: flex;
                        flex-direction: column;
                        height: 80%;
                        align-items: center;
                        justify-content: center;


                        .name{
                            display: flex;
                            justify-content: left;
                            width: 90%;
                            p{
                                color: rgb(201, 201, 201);

                            }
                        }


                        .input-boxes{
                            width: 90%;
                            height: 100%;

                            input{
                                width: 90%;
                                height: 100%;
                            }
                            
                        }
                        
                        .policy-notice{
                            display: flex;
                            justify-content: left;
                            width: 90%;

                            p{
                                width: 50%;
                                color: rgb(194, 192, 192);
                            }
                            
                        }
                        
                        .button-get-started{
                            // padding-top: 25px;
                            display: flex;
                            justify-content: center;
                            width: 100%;

                            button{
                                height: 60px;
                                width:150px; 
                                background-image: linear-gradient(to bottom, rgb(0, 127, 253), rgb(100, 100, 227) 60%);
                                border-radius: 10px ;
                                color: white;
                                p{
                                    width: 80%;
                                    font-size: 2em;
                                }
                                
                                &:hover {
                                    background-color: rgb(37, 8, 199);
                                    cursor: pointer;
                                }
                            }
                            
                        }
                    }
                    
                    .right-side{
                        display: flex;
                        flex-direction: column;

                        .right-side-heading{
                            display: flex;
                            width: 100%;
                            p{
                                font-size: 2rem;
                            }
                            
                        }

                            
                        .right-side-bottom-section{
                            display: grid;
                            grid-template-columns: 1fr 1fr;

                            .right-side-bottom-left{
                                height: 50%;
                                display: grid;
                                align-items: center;
                                
                                .location{
                                    display: grid;
                                    align-items: center;
                                    height: 100%;
                                    
                                    .details{

                                        height: 100%;
                                        align-items: center;
                                        justify-content: center;
                                        color: white;


                                        p{
                                            display: grid;
                                            align-items: center;
                                            height: 50%;
                                        }
                                        
                                    }
                                    
                                }
                                
                                .right-side-bottom-right{

                                    // img{

                                    //     height: 60px;
                                    // }
                                    
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}