.home{

    .get-started-img{

        img{
            width: 100vw;
            height: 90vh;
            position: relative;
        }
    }

    .home-purple-background-text{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .tech{

            
            h2{
                position:absolute;
                
                font-size: 4em;
                align-items: center;
                justify-content: center;
                width: 25%;
            }
        }

        p{
            position:absolute;
           
            font-size: 2em;
            align-items: center;
            justify-content: center;
            width: 35%;
        }

        button{
            position:absolute;


            cursor: pointer;
            height: 42px;
            font-size: 1em;
            font-weight: 500;
            border: 1px solid transparent;
            transition: all 0.5s ease-in-out;
            background-color: rgb(79, 145, 207);
            color: white;
          
            &:active,
            &:focus {
              outline: none;
            }
          
            &:hover {
              background-color: rgb(14, 48, 200);
            }

            
        }

        img{
            position: absolute;
           
        }
    }

    
}